.analytics {
    display: flex;
    flex-direction: column;
}

.analytics .title {
    text-align: center;
}

.title {
    width: 100%;
    height: 10%;
}

.analytics-box {
    width: 100%;
    height: 90%;
    display: flex;
    margin-top: 5px;
}

.analytics-box hr:first-child {
    margin-top: 0px;
}

.methods {
    width: 50%;
    padding: 5px;
    border-right: 1px solid #3e3e3e;
    padding-top: 0;
}

.method {
    margin-bottom: 3px;
    display: flex;
    justify-content: space-around;
}

.method:first-child,
.method:last-child {
    margin-bottom: 0;
}

.box {
    border-radius: 3px;
    width: 20px;
    text-align: center;
}

.total {
    background: #fff;
    color: #000;
}

.error {
    background: #dc3545;
}

.success {
    background: #198754;
}

.others {
    padding: 5px;
    padding-top: 0;
    width: 50%;
}

.others hr:first-child {
    margin-top: 0px;
}

.overlay-ads {
    display: flex;
    justify-content: space-around;
}
