*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    border: 0;
    border-top: 1px solid #3e3e3e;
    margin: 10px 0px;
}

.center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
