/* number input */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
    border: 1.5px solid #3e3e3e;
    display: inline-flex;
    border-radius: 4px;
}

.number-input button {
    outline: none;
    background-color: inherit;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    position: relative;
}

.number-input button:after {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    top: 50%;
    right: 8.5px;
    margin-top: -2px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: 50% 0;
}

.number-input button.plus:after {
    transform: rotate(225deg) translateY(-50%);
    margin-top: 3px;
}

.number-input input[type='number'] {
    font-family: sans-serif;
    max-width: 3rem;
    padding: 0.5rem;
    border: solid #3e3e3e;
    border-width: 0 1.5px;
    font-size: 1rem;
    height: 1.5rem;
    text-align: center;
    outline: none;
    background: #282828;
    color: #fff;
}
