/* select option */
.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    align-items: center;
    display: flex;
}

.custom-select-wrapper select {
    display: none;
}

.custom-select {
    position: relative;
    display: inline-block;
}

.custom-select-trigger {
    position: relative;
    display: block;
    width: 100px;
    padding: 0 7px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
    background: #5c9cd8;
    border-radius: 4px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 22px;
}

.custom-select-trigger::first-letter {
    text-transform: uppercase;
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    width: 7px;
    height: 7px;
    top: 50%;
    right: 10px;
    margin-top: -1px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg) translateY(-50%);
    transition: all 0.2s ease-in-out;
    transform-origin: 50% 0;
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 100%;
    margin: 8px 0;
    border: 1px solid #3e3e3e;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.07);
    background: #363636;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-10px);
}

.custom-options div {
    max-height: 145px;
    overflow-y: auto;
    outline: none;
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 2;
}

.custom-options:before {
    position: absolute;
    display: block;
    content: '';
    bottom: 100%;
    right: 10px;
    width: 7px;
    height: 7px;
    margin-bottom: -3px;
    border-top: 1px solid #3e3e3e;
    border-left: 1px solid #3e3e3e;
    background: #363636;
    transform: rotate(45deg);
    transition: all 0.2s ease-in-out;
}

.option-hover:before {
    background: #f9f9f9;
}

.custom-option {
    position: relative;
    display: block;
    border-bottom: 1px solid #3e3e3e;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 23px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

.custom-option:first-of-type {
    border-radius: 4px 4px 0 0;
}

.custom-option:last-of-type {
    border-bottom: 0;
    border-radius: 0 0 4px 4px;
}

.custom-option:hover,
.custom-option.selected {
    background: #282828;
}

.custom-options div::-webkit-scrollbar {
    width: 10px;
    background-color: #424242;
}

.custom-options div::-webkit-scrollbar-thumb {
    background-color: #8e8e8e;
    border: 1px solid #424242;
    border-radius: 5px;
}

.custom-options div::-webkit-scrollbar-track {
    background-color: #424242;
}
